Django==6.0.5
django-taggit==6.1.0
Pillow==12.2.0
google-generativeai==0.8.6
reportlab==4.5.1
djangorestframework==3.15.2
django-cors-headers==4.6.0
djangorestframework-simplejwt==5.3.1
channels==4.2.0
channels-redis==4.2.0
redis==5.0.8
python-decouple==3.8
gunicorn==22.0.0

dj-database-url==2.2.0
psycopg2-binary==2.9.9
uvicorn==0.30.0
whitenoise==6.12.0

# Testing
pytest==8.3.4
pytest-django==4.9.0
pytest-cov==6.0.0
coverage==7.6.10
