<!-- Meta tags para compatibilidad con navegadores modernos (Edge, Chrome, Firefox, Safari) -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="#09090b">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">

<!-- Configuración para Edge específicamente -->
<meta name="MSSmartTagsPreventParsing" content="true">
<meta http-equiv="cleartype" content="on">

<!-- Preconexiones para mejor rendimiento -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdn.tailwindcss.com">
<link rel="preconnect" href="https://cdnjs.cloudflare.com">

<!-- DNS Prefetch para recursos externos -->
<link rel="dns-prefetch" href="//cdn.tailwindcss.com">
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
<link rel="dns-prefetch" href="//cdn.jsdelivr.net">
